<ion-header>
  <ion-toolbar>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Account</ion-card-title>
    </ion-card-header>
    <ion-card-content>

      <div class="content-group">
        <h2>Email</h2>
        <ion-item mode="md" *ngIf="!emailEditMode">
          <ion-input [(ngModel)]="emailInput" readonly inputmode="email" pattern="email"></ion-input>
          <ion-icon (click)="editEmail()" name="pencil-outline"></ion-icon>
        </ion-item>
        <ion-item mode="md" *ngIf="emailEditMode">
          <ion-input [(ngModel)]="emailInput" clearInput inputmode="email" pattern="email"></ion-input>
        </ion-item>
        <ion-buttons class="ion-justify-content-end" *ngIf="emailEditMode">
          <ion-button (click)="cancelEmail()">Cancel</ion-button>
          <ion-button (click)="submitEmail()">Submit</ion-button>
        </ion-buttons>
      </div>

      <div class="content-group">
        <h2>Change Password</h2>

        <ion-item>
          <ion-label position="stacked">Old Password</ion-label>
          <ion-input type="password"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">New Password</ion-label>
          <ion-input type="password"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Confirm New Password</ion-label>
          <ion-input type="password"></ion-input>
        </ion-item>
        <ion-buttons class="ion-justify-content-end">
          <ion-button>Change</ion-button>
        </ion-buttons>
      </div>

      <ion-buttons class="ion-justify-content-center">
        <ion-button color="danger" (click)="logout()">Logout</ion-button>
      </ion-buttons>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Billing & Subscriptions</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Type: Gold Membership</p>
      <p>Price: $6.99/month</p>
    </ion-card-content>
  </ion-card>

</ion-content>
