<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="login()" [formGroup]="credentials">
    <ion-item>
      <ion-label position="stacked">Email</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Password</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>

    <ion-button class="ion-margin" type="submit" expand="block">Login</ion-button>

    <a class="ion-margin-horizontal" routerLink="/signup">Create Account</a>
  </form>

  <!-- For Development Only -->
  <ion-button class="ion-margin" color="warning" fill="outline" (click)="deleteTokens()">See Intro page</ion-button>
  <ion-button class="ion-margin-horizontal" color="warning" fill="outline" (click)="bypassLogin()">Bypass login</ion-button>

</ion-content>