<ion-content>
  <ion-slides pager="true">
 
    <!-- Slide 1 -->
    <ion-slide>
      <ion-text>
        <img src="./assets/images/logo.png">
        <h1>Welcome!</h1>
        <p>This is the introduction page.</p>
        <ion-button (click)="next()" fill="outline">Next</ion-button>
      </ion-text>
    </ion-slide>
 
    <!-- Slide 2 -->
    <ion-slide>
      <ion-text>
        <img src="./assets/images/logo.png">
        <h1>Ready to Start?</h1>
        <p>Click the button below to continue.</p>
        <ion-button (click)="start()" fill="outline">Start</ion-button>
      </ion-text>
    </ion-slide>
 
  </ion-slides>
</ion-content>